* {
    margin: 3px;
    padding: 0;
    /* background-color: #bababb; */
}

.main1 {
    height: 200px;
    background: #828080;
    border-radius: 10px;
    display: flex;
    margin: 0px 10px;
}

.profile img{ 
    width: 200px;
    margin: 7px 0px 0px 0px;
}

.header1 {
    width: 100%;
}

.heads {
    height: 90px;
    align-content: center;
}

.lands {
    display: flex;
    align-content: center;
}

.search input {
    width: 600px;
    height: 25px;
    border-radius: 4px;
}

.lands1 {
    width: 100%;
}

.ls1 {
    height: 40px;
    width: 100px;
    background: #a2a1a3;
    border-radius: 8px;
    border-color: #bbbabd;
    margin: 0px 20px;
    float: right;
    color: rgb(252, 250, 248);
}

.list1 {
    height: 50px;
    display: flex;
}

.list1 nav {
    align-content: center;
}

.list1 nav ul {
    display: flex;
    align-content: center;
    padding: 20px 0px 0px 0px;
}

.lh1 a {
    text-decoration: none;
    color: aliceblue;
    margin: 0px 25px;
    font-size: 20px;
}

.genre {
    margin: 5px;
    font-size: 25px;
    background-color: #a2a1a3;
    border-radius: 6px;
    padding: 0px 0px 0px 4px;
}

.g1 {
    height: 35px;
    width: 120px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
}

.g1 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.homepage {
    display: flex;
}

.popular {
    width: 32%;
}

.popular1, .popular2 {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    text-transform: capitalize;
    height: 450px;
    margin: 1%;
    background-color: #a2a1a3;
    border-radius: 4px;
}
.mainpage1 {
    width: 64%;
    margin: 3px;
}

.m1 {
    height: 200px;
    width: 49%;
    background: #b3b6b5;
    display: inline-flex ;
}
.m1 a{
    text-decoration: none;
    color: black;

}
.m1img img{
 height: 190px ;
}
.m1para1{
    height: 110px;
    overflow-y:hidden;
}
.chapters{
 height: 50px;
}